<launch>
<include file="$(find cv_camera)/launch/cv_camera.launch" />
<include file="$(find vision)/launch/vision.launch" />
<include file="$(find tld_tracker)/launch/ros_tld_gui.launch" />
<include file="$(find tld_tracker)/launch/ros_tld_tracker.launch" />
<include file="$(find find_object_2d)/launch/find_object_2d_mod1.launch" />
<include file="$(find robot)/launch/rsv1_driver.launch" />
<include file="$(find zeno_dial)/launch/dialog.launch" />
<include file="$(find owyl_behavior)/launch/test_behavior4g.launch" />
</launch>
