<launch>
<param name="zeno_dial_dir" value="$(find zeno_dial)" type="string"/>
<param name="zeno_dial_dir" value="$(find zeno_dial)" type="string"/>
<node name="dialog_node" pkg="zeno_dial" type="run_dialog.py"
        output="screen">
        <param name="zeno_dial_dir" value="$(find zeno_dial)" type="string"/>
        </node>
</launch>
